:root {
  --primary-color: rgb(53, 90, 160);
  font-size: large;
}

.App {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  max-width: 400px;
}

h2,
h1 {
  color: var(--primary-color);
}

button {
  background: rgb(246, 160, 0);
  border: none;
  border-radius: 30%;
  padding: 20px 40px;
  margin: 0 20px;
  color: white;
  font-size: 20px;
}

.tomato-count-box {
  border: 1px solid black;
  border-radius: 5px;
  height: 80px;
  width: 65%;
  margin: 10px 0;
}

.tomato-counter-container {
  display: flex;
  align-items: center;
}

.tomato-counter-container h3 {
  width: 60px;
}