:root {
  --primary-color: rgb(53, 90, 160);
  font-size: large;
}

.App {
  width: fit-content;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

h2,
h1 {
  color: var(--primary-color);
}

button {
  background: rgb(178, 125, 27);
  border: none;
  border-radius: 30%;
  padding: 30px 50px;
  margin: 0 20px;
}